@font-face {
    font-family: 'Greve';
    font-style: normal;
    src: local('Greve'), local('Greve-Regular'),
        url(assets/fonts/greve-800.ttf) format('truetype');
}
.svg_chart {
	transform: rotate(-0.25turn);
}
.score_chart_item {
    display: inline-flex;
}
.score_chart_item > span {
    margin: auto;
    margin-right: .5rem;
}
.score_chart_item > .svg_chart {
    max-width: 2.5rem;
    height: auto;
}
.full_screen_chart {
    transform: rotate(-0.25turn) rotateY(50deg);
    width: 18.75rem;
    width: fit-content;
    max-width: calc( 100% - 6rem );
    margin: auto;
    display: block;
}
.svg_chart.two_sectors > *:first-child {
    fill: var(--paper-light-green-500);
}
.svg_chart.two_sectors > *:nth-child(2) {
    fill: var(--paper-deep-orange-500);
}
.exercisesListSpan {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: var(--mid-transition-duration) var(--standard-transition) .1s;
	max-height: 2rem;
}
.exercisesListSpan:hover {
	white-space: normal;
	max-height: 10000rem;
}
.materialListItem.materialDrawerListItem > i {
	margin-right: .5rem;
	font-size: 1.25rem;
	width: 1.5rem;
	display: inline-block;
	text-align: center;
}
.taBearLogo {
	width: inherit;
	margin: auto;
	display: block;
	max-width: 25rem;
}
.mjx-chtml[tabindex]:focus, .MathJax:focus {
	outline: none;
	border: none;
	display: inline-block!important;
}
#fileUploadSection .materialInputOuterArea {
	display: inline-grid;
}
#fileUploadSection .materialFAB {
	display: inline-block;
}
.test_answer_correct > *:first-child {
	background: var(--paper-light-green-300);
}
.test_answer_wrong > *:first-child {
	background: var(--paper-deep-orange-300);
}
.exerciseImage {
	max-width: 20rem;
	float: right;
}
/*.materialNavigationDrawer > li.materialListItem:not(:first-of-type) {
	display: none;
}*/
.scoreCardHeading {
	text-align: center;
	font-size: 4.5rem;
	height: unset;
	font-family: 'Greve', fantasy;
}
/*.editExerciseType {
    display: none;
}*/
.editExerciseInputBox:not(.active){
	display:none;
}
.editExerciseType > div {
    display: inline-flex;
}
.editExerciseType > div > span {
    margin: auto 0;
}

.privacy_dialog {
    min-width:50%;
}

#privacy_image{
    width:100%;
    height:auto;
}

#frontpageContainer {
    display:grid;
    grid-template-columns: 50% 50%;
    background: white;
    padding: 2rem;
    grid-gap:1rem;
    min-height: 100%;
    font-size:1.5rem;
}
#frontpageContainer a {
    text-align: unset;
}
#frontpageContainer a:after {
	content: "\f35d";
	font-family: "Font Awesome 5 Pro";
	font-size: .75em;
	text-decoration: none;
	vertical-align: text-top;
	padding: .125rem;
}
#frontpageContainer img {
    max-width:100%;
}
#frontpageContainer h1 {
    display:block;
    font-size:2rem;
    font-variant:small-caps;
    height:3rem;
}
#frontpageContainer ul {
    padding:0;
}
#frontpageContainer > * {
    margin: auto 0;
    max-width:20rem;
}
#frontpageContainer > *:nth-child(2n+1) {
    text-align:right;
    margin-left:auto;
}

#frontpageFooter {
    min-height: 35%;
    background: var(--paper-grey-800);
    color: var(--light-text);
    padding: 2rem;;
    column-count: 2;
    column-gap:1rem;
}
.linkList a {
    color:inherit;
    display:block;
    padding: .5rem;
    text-align:center;
}
.linkList .materialContainer {
    margin-top: 0!important;
}
.linkList .materialContainer h1 {
    white-space: unset;
    height: unset!important;
}
#MathJax_Message {
    display: none!important;
}

.dataTable {
	font-size: 1rem;
	border-collapse: collapse;
}
.dataTable td, .dataTable th {
	border: .125rem solid var(--paper-light-blue-500);
}
.dataTable tr:last-child td:first-child {
	border-bottom-left-radius: .25rem;
}

.dataTable tr:last-child td:last-child {
	border-bottom-right-radius: .25rem;
}

@media screen and (max-width: 48rem) {
	.exerciseImage {
		max-width: auto;
		display: block;
		margin: 0 auto;
		float: none;
	}
    .privacy_dialog {
        min-width:90%;
    }
    #frontpageContainer {
        grid-template-columns: 100%;
    }
    #frontpageContainer img {
        margin: 0 auto;
    }
}
@media print {
	.materialAppBar {
		display: none;
	}
	.materialNavigationDrawerContainer {
		display: none;
	}
	.materialScaffold {
		height: unset;
	}
	.materialScaffoldBody {
		position: static;
		height: unset;
	}
	#writeTestContainer {
		display:grid;
		grid-template-columns: 1fr 1fr;
	}
	#writeTestContainer > *:last-child {
		display: none;
	}
	.materialApp {
		height: auto;
		overflow: auto;
		background: none;
	}
	html {
		background: none;
		font-size: .9rem;
	}
	.materialBox {
		box-shadow: none;
		page-break-after: auto;
	}
}
